version: '3.8'

services:
  minecraft:
    container_name: minecraft
    image: itzg/minecraft-server:latest
    tty: true
    stdin_open: true
    ports:
      - "25565:25565"
      - "19132:19132/udp"
    environment:
      EULA: "TRUE"
      TYPE: "PAPER"
      VERSION: "1.21.11"
      MEMORY: "4G"
      USE_AIKAR_FLAGS: "true"
      TZ: "America/Denver"
      DIFFICULTY: "2"
      FORCE_GAMEMODE: "true"
      SEED: "46182117"
      LEVEL: "Season4"
      OVERRIDE_SERVER_PROPERTIES: "true"
      OPS: "Kleptonite32"
      # Performance optimizations
      NETWORK_COMPRESSION_THRESHOLD: "-1"
      SNOOPER_ENABLED: "false"
      GEYSER_BEDROCK_COMPRESSION_LEVEL: "1"
      VIEW_DISTANCE: "28"
      SIMULATION_DISTANCE: "6"
      SYNC_CHUNK_WRITES: "false"
      MAX_TICK_TIME: "120000"
      SPAWN_PROTECTION: "0"
      ENABLE_ROLLING_LOGS: "false"
      # Allow Bedrock players to chat (disable secure profile enforcement)
      ENFORCE_SECURE_PROFILE: "false"
      # Network stability settings to prevent connection resets
      JVM_DD_OPTS: "paper.playerconnection.keepalive=120"
      PLUGINS: |-
        https://download.geysermc.org/v2/projects/floodgate/versions/latest/builds/latest/downloads/spigot
        https://download.geysermc.org/v2/projects/geyser/versions/latest/builds/latest/downloads/spigot
        https://download.geysermc.org/v2/projects/hurricane/versions/latest/builds/latest/downloads/spigot
        # Temporarily disabled to test if ViaVersion is causing packet issues
        # https://hangarcdn.papermc.io/plugins/ViaVersion/ViaVersion/versions/5.7.0/PAPER/ViaVersion-5.7.0.jar
        # Temporarily disabled to test if Chunky is causing packet issues
        # https://hangarcdn.papermc.io/plugins/pop4959/Chunky/versions/1.4.40/PAPER/Chunky-Bukkit-1.4.40.jar
    volumes:
      - "/minecraft:/data"
    entrypoint: /bin/bash
    command: -c "curl -fsSL https://raw.githubusercontent.com/ryansabin/minecraft/main/init-auto-update.sh -o /tmp/init-auto-update.sh && chmod +x /tmp/init-auto-update.sh && /tmp/init-auto-update.sh && exec /start"
    restart: unless-stopped
